@import "tailwindcss";
@import "@nuxt/ui";

html {
  scroll-behavior: smooth;
}

body,
p,
.cool {
  @apply leading-relaxed text-neutral-800;
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display {
  @apply font-bold !text-gray-900;
  font-family: "Tilt Neon", sans-serif;
}

/* Custom text selection colors */
::selection {
  background-color: rgba(253, 224, 71, 0.7); /* yellow-300 with 70% opacity */
  color: #000000; /* black text */
}

::-moz-selection {
  background-color: rgba(253, 224, 71, 0.7); /* yellow-300 with 70% opacity */
  color: #000000; /* black text */
}
